@import '~@konux/ui-theme/variables';

.icon {
  margin: $icon-margin;
}

.spin {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
