@import "@konux/ui-theme/variables.scss";

.chart {
  position: relative;
}

.svg {
  display: flex;
  flex-direction: center;
  justify-content: center;
  border: $line-chart-border-width $line-chart-border-style $line-chart-border-color;
  background: $line-chart-border-bg;
  border-radius: $line-chart-border-radius;
  position: relative;
}

.path {
  fill: none;
  stroke: $line-chart-path-color;
  stroke-width: $line-chart-path-border-width;
}

.dot {
  cursor: pointer;
  fill: $line-chart-circle-bg;
  stroke:$line-chart-circle-border-color;
  stroke-width: $line-chart-circle-border-width;

  &:hover {
    fill: $line-chart-circle-bg-hover;
    stroke-width: $line-chart-circle-border-width-hover;
  }
}


.gridGroup g {
  line {
    stroke: $grid-border-color;
  }

  path {
    stroke-width: 0;
  }
}


.lineGroup {
  display: none;

  > line {
    stroke:$line-border-color;
    stroke-width: $line-border-color;
  }
}

.legendGroup {
  line {
    display: none;
  }

  path {
    stroke: $legend-border-color;
  }

  text {
    color: $legend-color;
    font-weight: $legend-font-weight;
  }
}

.itemDetails {
  position: absolute;
  min-width: 160px;
  background: #FFF;
  z-index: 150;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  padding: 16px;
  font-size: 13px;

  > div {
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 8px;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    label {
      color: #999;
    }

    div {
      font-size: 12px;
      font-weight: 600;
      color: #000;
    }
  }
}