@import "@konux/ui-theme/variables.scss";

.sidebar {
  width: $sidebar-width;
  padding: $sidebar-padding;
  background: $sidebar-bg;
  border-right: $sidebar-border-width $sidebar-border-style $sidebar-border-color;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: $sidebar-position-top;
}

.filter {
  margin: $filter-margin;

  > div {
    margin: $filter-item-margin;
  }
}