@import "@konux/ui-theme/variables.scss";

.header {
  padding: $navbar-padding;
  background: $navbar-bg;
  height: $navbar-height;
  border-bottom: $navbar-border-width $navbar-border-style $navbar-border-color;
}

.brandImg {
  width: $navbar-brand-image;
}

.mainNav, .subNav {
  display: flex;
  flex-direction: row;
  align-items: center;

  > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    > div {
      flex-direction: row;
      display: flex;

      > div {
        flex: 1;
      }
    }
  }
}

.mainNav {
  > div {
    > div {
      width: 500px;
      margin-left: 40px;

      &:last-child {
        width: 160px;
      }
    }
  }
}

.subNav {
  margin-top: 32px;

  > div {
    > div {
      width: 570px;
    }
  }
}
