@import "@konux/ui-theme/variables.scss";

.modalHeader {
  padding: $modal-header-padding;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $modal-header-color;
  font-weight: $modal-header-font-weight;
  font-size: $modal-header-font-size;
}
