@import "@konux/ui-theme/variables.scss";

.placeholder {
  > div {
    width: 100%;
    border-radius: $placeholder-border-radius;
    background: $placeholder-bg;
    margin: $placeholder-margin;
    width: $placeholder-width;
    height: $placeholder-height;

    &:last-child {
      margin: initial;
    }
  }

  &.blink > div {
    animation: pulse $placeholder-timing infinite alternate;
  }

  &.dark > div {
    background: $placeholder-bg-dark;
  }
}

@keyframes pulse {
  0% {
    opacity: $placeholder-opacity-start;
  }
  100% {
    opacity: $placeholder-opacity-end;
  }
}
