@import '~normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

body {
  font-family: 'Open Sans', sans-serif;
}

// Colors
//
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #555555 !default;
$gray-800: #333333 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #08c !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$red:     #D15A5B !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #74C970 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$default:       #F4F7F9 !default;
$primary:         $blue !default;
$success:         $green !default;
$info:            $cyan !default;
$warning:         $yellow !default;
$danger:          $red !default;
$dark:            $black !default;
$light:           $white !default;
$transparent:     transparent !default;

// Font
$font-color-base:             $gray-700 !default;

$font-size-base:            14px !default;
$font-size-sm:              12px !default;
$font-size-md:              16px !default;
$font-size-lg:              20px !default;

$font-family-base:          "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight:                 $font-weight-normal !default;
$line-height:                 20px !default;

$text-color-base:           $gray-700 !default;
$text-color-primary:        #333 !default;
$text-color-secondary:      #999 !default;

// Border
$border-width-base:        1px !default;
$border-style-base:         solid !default;
$border-color-base:         #E6E6E6 !default;

$border-radius-base:          4px !default;
$border-radius-sm:            2px !default;
$border-radius-lg:            8px !default;

//
// Spacing
$spacer-0: 2px !default;
$spacer-1: 4px !default;
$spacer-2: 6px !default;
$spacer-3: 8px !default;
$spacer-4: 12px !default;
$spacer-5: 16px !default;
$spacer-6: 20px !default;
$spacer-7: 24px !default;
$spacer-8: 28px !default;
$spacer-9: 32px !default;
$spacer-10: 36px !default;
$spacer-11: 40px !default;

//
// Placeholder
$placeholder-margin:        0 0 $spacer-1 0 !default;
$placeholder-width:         150px !default;
$placeholder-height:        16px  !default;
$placeholder-bg:          #EFF3F5 !default;
$placeholder-bg-dark:     #EAEAEA !default;
$placeholder-border-radius: $border-radius-base !default;
$placeholder-timing:        .65s !default;
$placeholder-animation:     pulse .65s infinite alternate !default;
$placeholder-opacity-start: 0.5 !default;
$placeholder-opacity-end:   1 !default;

//
// Sidebar
$sidebar-padding:      $spacer-7 $spacer-11 !default;
$sidebar-bg:           $white !default;
$sidebar-border-width: $border-width-base !default;
$sidebar-border-color: #DCDCDC !default;
$sidebar-border-style: solid !default;

$sidebar-position-top: 170px !default;
$sidebar-width:        240px !default;

$filter-margin:      0 0 $spacer-9 0 !default;
$filter-item-margin: 0 0 $spacer-4 0 !default;

//
// Navbar
$navbar-padding:      $spacer-7 $spacer-11 !default;
$navbar-bg:           $white !default;
$navbar-height:       170px !default;
$navbar-border-width: $border-width-base !default;
$navbar-border-style: $border-style-base !default;
$navbar-border-color: #DCDCDC !default;
$navbar-brand-image:  105px;

//
// Icon
$icon-margin: 0 $spacer-1 0 0 !default;

//
// Button
$button-bg:             $white !default;
$button-border-width:   $border-width-base !default;
$button-border-style:   $border-style-base !default;
$button-border-color:   $border-color-base !default;
$button-border-radius:  $spacer-1 !default;
$button-height:         $spacer-10 !default;
$button-color:        #606D75 !default;
$button-font-size:      10px !default;
$button-font-weight:    $font-weight-bold !default;
$button-padding:        0 $spacer-5 !default;
$button-cursor:         pointer !default;
$button-text-transform: uppercase !default;

$button-disabled-opacity:   0.4 !default;
$button-disabled-cursor:    not-allowed !default;

$button-hover-bg:           darken($button-bg, 2.5%);
$button-focus-border-color: darken($button-border-color, 15%);
$button-active-bg:          darken($button-bg, 5%);

//
// Modal
$modal-border-radius: $border-radius-sm !default;
$modal-border-bg: $white !default;
$modal-border-width: 520px !default;
$modal-border-height: 460px !default;
$modal-overlay-bg: rgba(0, 0, 0, 0.5) !default;

$modal-header-padding:    $spacer-7 $spacer-7 $spacer-3 $spacer-7 !default;
$modal-header-color:      $black !default;
$modal-header-font-weight: $font-weight-bold !default;
$modal-header-font-size:   $spacer-5 !default;

$modal-body-padding:      $spacer-5 $spacer-7 $spacer-7 !default;
$modal-body-p-color:     #888 !default;
$modal-body-p-font-size:   $font-size-base !default;
$modal-body-p-font-weight: $font-weight-normal !default;
$modal-body-p-margin:      0 0 $spacer-7 0 !default;

$modal-footer-padding:      $spacer-4 $spacer-7 !default;
$modal-footer-border-width:  $border-width-base !default;
$modal-footer-border-style:  $border-style-base !default;
$modal-footer-border-color: $border-color-base !default;
$modal-footer-button-margin: 0 0 0 $spacer-3 !default;


//
// Grid
$grid-item-margin: 0 $spacer-3 0 0 !default;

//
// Form
$form-row-margin: 0 0 $spacer-5 0 !default;

//
// Label
$label-color:     #5C5C5C !default;
$label-font-size:   13px !default;
$label-font-weight: $font-weight-bold !default;
$label-margin:      0 0 $spacer-3 !default;

//
// Input
$input-width:            100% !default;
$input-height:           36px !default;
$input-padding:          0 $spacer-4 !default;
$input-outline:          none !default;
$input-bg:               $white !default;
$input-border-width:     $border-width-base !default;
$input-border-style:     $border-style-base !default;
$input-border-color:   #DCE6EC !default;
$input-border-radius:    $border-radius-base !default;
$input-font-size:        $font-size-sm !default;
$input-color:           #555 !default;

$input-border-color-focus: darken($input-border-color, 25%) !default;
$input-placeholder-color: #BCBCBC !default;

//
// Line chart
$line-chart-border-width:  $border-width-base !default;
$line-chart-border-style:  $border-style-base !default;
$line-chart-border-color:  $border-color-base !default;
$line-chart-border-radius: $border-radius-sm !default;
$line-chart-border-bg:     $white !default;

$line-chart-path-color:      $primary !default;
$line-chart-path-border-width: 2px !default;

$line-chart-circle-border-color:  $danger !default;
$line-chart-circle-border-width:  1.5 !default;

$line-chart-circle-bg:               $white !default;
$line-chart-circle-bg-hover:         $danger !default;
$line-chart-circle-border-width-hover: 3.5 !default;

$grid-border-color: darken(#EEE, 2.5%) !default;


$line-border-color: $border-color-base !default;
$line-border-color: 1.5 !default;

$legend-border-color: #e8e8e8 !default;
$legend-color:        #888 !default;
$legend-font-weight:    $font-weight-bold !default;
