@import "@konux/ui-theme/variables.scss";

.content {
  margin: $spacer-7 $spacer-11 0 $spacer-11 * 7;
}

.controls {
  display: flex;
  margin-bottom: $spacer-7;
}

.button {
  margin-left: $spacer-3;
}

.chartValue {
  background: $white;
  margin-left: $spacer-3;
  border: $border-width-base $border-style-base $border-color-base;
  border-radius: $spacer-1;
  font-size: $spacer-4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 $spacer-5;
  font-weight: $font-weight-bold;
  color: #606D75;
}