@import "@konux/ui-theme/variables.scss";

.button {
  background: $button-bg;
  border: $button-border-width $button-border-style $button-border-color;
  border-radius: $button-border-radius;
  height: $button-height;
  color: $button-color;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  padding: $button-padding;
  text-transform: $button-text-transform;
  cursor: $button-cursor;

  &:disabled, .disabled {
    opacity: $button-disabled-opacity;
    pointer-events: none;
    cursor: $button-disabled-cursor;
  }

  &:hover, .hover {
    background: $button-hover-bg;
  }

  &:focus, .focus {
    outline: none;
    border-color: $button-focus-border-color;
  }

  &:active, .active {
    background: $button-active-bg;
  }
}
