@import "@konux/ui-theme/variables.scss";

.modalFooter {
  padding: $modal-footer-padding;
  display: flex;
  justify-content: flex-end;
  border-top: $modal-footer-border-width $modal-footer-border-style $modal-footer-border-color;

  button {
    margin: $modal-footer-button-margin;
  }
}

