@import "@konux/ui-theme/variables.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  display: none;

  justify-content: center;
  align-items: center;
  background: $modal-overlay-bg;

  &.visible {
    display: flex;
  }
}

.modalInner {
  border-radius: $modal-border-radius;
  background: $modal-border-bg;
  width: $modal-border-width;
  max-height: $modal-border-height;
  position: relative;
}
