@import "@konux/ui-theme/variables.scss";

.modalBody {
  padding: $modal-body-padding;

  p {
    color: $modal-body-p-color;
    font-size: $modal-body-p-font-size;
    font-weight: $modal-body-p-font-size;
    margin: $modal-body-p-margin;
  }
}
