@import '~@konux/ui-theme/variables';

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.iconContainer {
  margin-bottom: 16px;
}

.title {
  color: #000;
  margin-bottom: 4px;
  font-weight: 700;
}

.description {
  color: #555555;
  margin-bottom: 24px;
  font-weight: 400;
}
