@import "@konux/ui-theme/variables.scss";

.input {
  padding: $input-padding;
  width: $input-width;
  height: $input-height;
  background-color: $input-bg;
  border: $input-border-width $input-border-style $input-border-color;
  border-radius: $input-border-radius;
  font-size: $input-font-size;
  color: $input-color;
  outline: $input-outline;

  &:last-child {
    margin-bottom: 0;
  }

  &:focus {
    border-color: $input-border-color-focus;
  }

  &::placeholder {
    color: $input-placeholder-color;
  }
}
